<ion-app>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-app>
<ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Mis Datos</ion-title>
      <ion-card>
        <ion-card-content>
          Name
        </ion-card-content>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="bag-handle-outline"></ion-icon>
        <ion-label>Mis compras</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="storefront-outline"></ion-icon>
        <ion-label>Vender Producto</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <div>
        <ion-item>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
