ion-content.backgroud-content{
    --background: url('/assets/img/ds.jpg') 0 0/180% 100% no-repeat;
}

ion-card {
    border-radius: 30px;
}


ion-button {
    --background: #EF6D32;
    margin-bottom: 20px;
}