<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu-content"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cook Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row *ngFor="let producto of Contenido">
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            {{producto.descripcion}}
          </ion-card-content>
          <ion-card-header class="ion-text-center">
            <ion-card-title style="font-size:medium;">{{producto.nombre}} </ion-card-title>
            <ion-item>
              <ion-label>$ {{producto.precio}}</ion-label>
              <ion-icon slot="end" name="heart-outline"></ion-icon>
            </ion-item>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
